<div class="container-fluid">
        <div class=row>
            <div class="col-md-4" *ngFor="let play of allPlays">
                <mat-card class='card'>
                    <mat-card-header>Play</mat-card-header>
                    <mat-card-content><h3>{{ play.name }}</h3>
                       <div> <img src="https://usercontent2.hubstatic.com/6616501.jpg"></div>
                    </mat-card-content>
                    <button mat-button color='primary' (click)="displaySinglePlay(play.name)">Dupa</button>
                </mat-card>
             </div>
            </div>
    </div>
