<mat-toolbar color='accent'></mat-toolbar>
<div class="nav">
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="appMenu" color='primary'>
    DUPA
  </button>
  <button mat-button color='primary'>Home</button>
  <button mat-button [routerLink]="['/actors']" color='primary'>Actors</button>
  <button mat-button [routerLink]="['add-play']" color='primary'>Play</button>
  <button mat-button [routerLink]="['plays']" color='primary'>Plays</button>
  <button mat-button color='primary'>Calendar</button>
</div>
<div class="app-container">
    <router-outlet></router-outlet>


</div>

