body, *, html {
    font-family: 'Roboto', sans-serif;
}



button {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 900;
    border: 2px;
    
}

button:focus {outline:0;}

.nav {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 85%;
    height: 10%;
    margin: auto;
}

.app-container {
    border-style: solid;
    border-color: lightgray;
    width: 85%;
    height: 100%;
    margin: auto;
   
}


.card {
    max-width: 350px;
    height: 400px;
}

.container-fluid {

    width: 100%;
    height: 100%;

}

::ng-deep .mat-card.card.mat-card {
    margin: 20px auto;
    max-width: 350px;
    height: 400px;
}