<div class="container-fluid">
    <div class=row>
        <div class="col-md-4" *ngFor="let actor of actors">
            <mat-card class='card'>
                <mat-card-header>Actor</mat-card-header>
                <mat-card-content>{{ actor.name }}</mat-card-content>
            </mat-card>
         </div>
        </div>
</div>
